#about {
  display: flex;
}

.about-image-container {
  width: 40%;
}

.about-image {
  border-radius: 12px;
  box-shadow: 0 0 10px #fff;
  object-fit: contain;
  width: 100%;
}

.about-details-container {
  color: var(--secondary);
  flex: 1;
  padding: 1rem 0 1rem 4rem;
}

.about-description {
  font-size: 16px;
  line-height: 1.5rem;
  margin-top: 1rem;
  word-spacing: 1px;
}

.tab-title {
  color: var(--text);
  display: flex;
  font-size: 18px;
  margin: 20px 0 30px 0;
}

.tab-title > .highlight-line:hover {
  background-size: 50% 2.5px;
  color: var(--text);
}

.title {
  cursor: pointer;
  margin-right: 40px;
}

.title.title-active {
  background-size: 50% 2.5px;
}

.tab-content {
  display: none;
}

.content-active {
  display: block;
}

.content-certificate-link a {
  color: var(--text);
}