:root {
  --primary: #feb170;
  --secondary: #fcfff5;
  --title: #e8d3a6;
  --text: #c7c7c7;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #193441;
  color: var(--secondary);
  margin-bottom: 1000px;
}

.highlight-line {
  background-image: linear-gradient(var(--primary), var(--primary));
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 0;
  transition: background-size 0.2s ease-in-out;
}

.highlight-line:hover {
  background-size: 100% 2.5px;
  color: var(--primary);
}

.theme-color {
  color: var(--primary) !important;
}

.theme-button {
  background-color: transparent;
  border: 2px solid var(--primary);
  border-radius: 10px;
  color: var(--primary) !important;
  padding: 15px;
  transition: all 0.25s ease;
}

.theme-button:hover {
  background-color: var(--primary);
  color: #193441 !important;
}

.main {
  margin: 30px auto;
  padding: 72px 120px;
}