:root {
  --primary: #feb170;
  --secondary: #c7c7c7;
  --tertiary: #3e606f;
  --title: #e8d3a6;
  --text: #fcfff5;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #193441;
  color: var(--text);
}

.highlight-line {
  background-image: linear-gradient(var(--primary), var(--primary));
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 0;
  transition: background-size 0.2s ease-in-out;
}

.highlight-line:hover {
  background-size: 100% 2.5px;
  color: var(--primary);
}

.theme-color {
  color: var(--primary) !important;
}

.theme-button {
  background-color: #193441;
  border: 2px solid var(--primary);
  border-radius: 10px;
  cursor: pointer;
  padding: 15px;
  transition: all 0.25s ease;
}

.theme-button a {
  color: var(--primary);
}

.theme-button:hover {
  background-color: var(--primary);
}

.theme-button:hover a {
  color: #193441 !important;
}

.main {
  margin: 0 auto;
  padding: 0 120px;
}

.section {
  padding: 4rem 0;
}

.section-title {
  color: var(--title);
  font-size: 48px;
}

.content-title {
  font-size: 22px;
}

.content-period-location-container {
  align-items: center;
  display: grid;
  gap: 10px 30px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 10px 0 30px 0;
}

.list-item {
  color: var(--text);
  list-style-position: inside;
  margin-bottom: 14px;
}

.list-item::marker {
  color: var(--primary);
}

.button-container {
  margin-top: 60px;
}

.icon {
  padding-right: 6px;
}