.header {
  font-size: 20px;
  margin: 40px 120px 0 120px;
  width: 500px;
}

.header-title {
  color: #feb170;
  font-size: 60px;
}

.header-subtitle {
  color: #91aa9d;
  font-size: 36px;
}

.header-description {
  color: #c7c7c7;
  letter-spacing: 1.2px;
  line-height: 26px;
}

.header-title,
.header-subtitle,
.header-description {
  margin-top: 20px;
}

.header span {
  color: #feb170;
}

.header div {
  margin-top: 40px;
}