.navbar {
  align-items: center;
  background-color: #193441;
  box-shadow: 0 1px 4px #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 4rem;
  position: fixed;
  top: 0;
  transition: top 0.3s;
  width: 100%;
  z-index: 50;
}

.navbar svg {
  display: none;
}

.nav-logo {
  background-clip: text;
  background-image: linear-gradient(135deg, #d4a373, var(--primary), #f8e2d0);
  color: transparent;
  cursor: pointer;
  font-size: 48px;
  text-decoration: none;
  -webkit-background-clip: text;
}

.nav-logo span {
  font-weight: 800;
}

.nav-item {
  display: inline-block;
  list-style-type: none;
  margin: 0 16px;
}

.nav-link {
  color: var(--secondary);
  font-size: 18px;
  text-decoration: none;
}
