@media only screen and (max-width: 600px) {
  /* general */
  .button-container {
    margin-top: 40px;
  }

  .theme-button a {
    font-size: 14px;
  }
  
  /* navbar */
  .navbar {
    margin: 0 auto;
    padding: 12px 2rem;
  }
  
  .navbar svg {
    display: block;
    font-size: 26px;
  }

  .nav {
    background-color: var(--primary);
    height: 100vh;
    padding-top: 50px;
    position: fixed;
    right: -200px;
    top: 0;
    transition: right 0.5s ease-in-out;
    width: 200px;
    z-index: 2;
  }

  .nav .nav-item {
    display: block;
    margin: 25px;
  }

  .nav .nav-link {
    color: #193441;
  }

  .nav .theme-button {
    border: 2px solid #193441;
  }

  .nav .theme-button:hover {
    background-color: var(--tertiary);
    border: 2px solid var(--tertiary);
  }

  .nav .theme-button .nav-link {
    color: var(--primary);
  }
  
  .nav .theme-button:hover .nav-link {
    color: var(--primary);
  }

  .nav svg {
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 25px;
  }

  /* header */
  .header {
    font-size: 16px;
  }

  .header-greeting {
    font-size: 18px;
  }

  .header-container {
    margin: 0;
    padding: 30px 20px;
    width: 100%;
  }

  .header-title {
    font-size: 50px;
  }

  .header-subtitle {
    font-size: 26px;
  }
}